#formframe_div{
  position:relative;
  margin-left:216px;
  background: rgba(18,2,3,0.5);
  width: calc(100% - 232px);  
  height: calc(100% - 5px);
  bottom: 0 !important;
}
#pls_wait_div  {
  background: #120203 !important;
  font-family: 'Roboto', 'Noto', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  display: flex;
  background-color:#fff;
  width:100%;
  height:100%;
  font-size:10pt;
  font-family: Arial;
  color: #ffffff;
}
#pls_wait_div br,
#pls_wait_div  > div:last-child img {
  display: none;
}
#pls_wait_div > div {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  margin-top: 16px;
}
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
 }
@keyframes colors {
  0% {
    stroke: #FFFFFF;
  }
  50% {
    stroke: #FFFFFF;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}    


.el-show {display: none;}
