<% http_header("style/form.css") %>

<LINK rel="stylesheet" type="text/css" href="style/formframe_wait.css">
<BODY bgcolor="black">

<script>
var mark = "<% cfg_get("timestamp") %>";
var xmlhttp;

if ( window.XMLHttpRequest)
{
	xmlhttp = new XMLHttpRequest();
}
else
{
	xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}

xmlhttp.onreadystatechange = function()
{
	if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 )
	{
		var result = xmlhttp.responseText;
		if ( result == 1 ) {
				location.href='WAN_wan.htm';
		} else {
			setTimeout(function() {
				xmlhttp.open("GET", "finish.txt?mark="+mark, true);
				xmlhttp.send();
			}, 1000 );
		}
	}
};
xmlhttp.open("GET", "finish.txt?mark="+mark, true);
xmlhttp.send();
</script>
<div id="pls_wait_div" >
<div>$wizard_pls_wait
<div class="loader">
<svg class="spinner" width="28px" height="28px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
<circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div></div></div>
</BODY>
</HTML>
