<html>
<head>
</head>
<body>
<script src="help_funcs.js"></script>
<script>
/* 22281: add sn after success href */
var sn="<% get_sn() %>";
var lang_url = "$success_href";
lang_url = lang_url.replace(/(.*)\/[^\/]+\.aspx/g, "$$1/<% cat_file("/module_name") %>.aspx")
//getTop(window).location.href = "$success_href"+"?sn="+sn;
/* to fix bug 29273 */
if( "<%cfg_get("dns_hijack") %>" == "1" && "<%cfg_get("hijack_process") %>" == "2" )
	setTimeout('getTop(window).location.href = lang_url+"?sn="+sn;', 2000);
else
	getTop(window).location.href = lang_url+"?sn="+sn;
</script>
</body>
</html>
