<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>
<script>
function pageRedirect(stat)
{
	if( location.href.indexOf("routerlogin.com") == -1 )
		getTop(window).location.href = "http://www.routerlogin.com/BRS_03B_haveBackupFile_change_domain.htm";
	else
		getTop(window).location.href = "http://www.routerlogin.net/BRS_03B_haveBackupFile_change_domain.htm";
}

function loadvalue()
{
	setTimeout("pageRedirect()", 150000);
}
</script>
<body onload="loadvalue();">

<div id="container">
	<div class="dialog-content">
		<!-- Restoring Router Settings -->
		<div id="card-restoring-router-settings" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
			<img class="card-image" src="images/svg/nighthawk-front.svg">
		     <div class="content">
			<div class="desc-title"><script>document.write(bh_orbi_restore);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_restore_wait);</script></div>

			<div class="loader">
				<div class="preloader-wrapper small active">
					<div class="spinner-layer">
						<div class="circle-clipper left">
							<div class="circle"></div>
							</div><div class="gap-patch">
							<div class="circle"></div>
							</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="desc-text wait"><script>document.write(bh_orbi_pls_wait);</script></div>
		    </div>
		</div>
	</div>
</div>

</body>

</html>


