<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>
<body>
<script>
function cllick_done()
{
		var winoptions = "width=960,height=800,menubar=yes,scrollbars=yes,toolbar=yes,status=yes,location=yes,resizable=yes";
		window.open("to_internet_no_auth.htm","brs_ng",winoptions);
}
</script>

<div id="container">
	<div class="dialog-content">
		<!-- Connected to Internet -->
		<div id="card-connected-internet" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
			<img class="connected-internet-logo" src="images/svg/connected_internet.svg" onerror="this.onerror=null; this.src='images/connected_internet.png'">
		    <div class="content">
			<div class="desc-title"><script>document.write(bh_orbi_success_conn);</script></div>
			<div class="desc-text"><script>document.write(bh_connect_success_1);</script></div>
		    </div>
		    <div class="buttons">
			<button class="waves-effect waves-light btn button-nav" type="button" onclick="cllick_done();">
				<span><script>document.write(bh_orbi_done_mark);</script></span>
			</button>
		    </div>
		</div>
	</div>
</div>
</body>

</html>
