<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<meta http-equiv="refresh" content="6; url=BRS_03B_haveBackupFile_ping.html" />
<% hijack_language() %>

</head>

<body>

	<div id="container">
		<div class="dialog-content">
			<!-- Searching for Internet -->
			<div id="card-searching-internet" class="install-card clearfix">
				<div class="logos">
					<img class="netgear-logo" src="images/svg/netgear.svg">
					<% hijack_logo_title() %>
				</div>
				<img class="card-image" src="images/svg/nighthawk-front.svg">
			     <div class="content">
				<div class="loader">
					<div class="preloader-wrapper small active">
						<div class="spinner-layer">
							<div class="circle-clipper left">
								<div class="circle"></div>
								</div><div class="gap-patch">
								<div class="circle"></div>
								</div><div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="desc-text"><script>document.write(bh_orbi_pls_wait);</script></div>
			     </div>
			</div>
		</div>
	</div>
<iframe name="ping_frame" src="BRS_ping.html" allowtransparency="true" scrolling="no" frameborder="0" ></iframe>
</body>

</html>
