<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>
<body>

<script language="javascript" type="text/javascript">
<% cfg_set("wiz_success", "1") %>
<% cfg_set("hijack_config_status", "1") %>
//fix bug 29052

</script>

<div id="container">
	<div class="dialog-content">
		<!-- Connected to Internet -->
		<div id="card-connected-internet" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg" onerror="this.onerror=null; this.src='images/duma-os.png'">
				<% hijack_logo_title() %>
			</div>
			<img class="card-image" src="images/svg/nighthawk-front.svg">
			<div class="content">
				<div class="desc-title"><script>document.write(bh_orbi_success_conn);</script></div>
				<div class="desc-text"><p id="internet_dect_info"><script>document.write(bh_connect_success_1)</script></p></div>
			</div>
			<div class="buttons">
			<button id="internet_dect_next" class="waves-effect waves-light btn button-nav btn-icon icon-right" type="button" onclick="location.href='BRS_security.html';">
				<span><script>document.write(bh_orbi_next_mark)</script></span><i class="material-icons">navigate_next</i>
			</button>
			</div>
		</div>
	</div>
</div>
</body>

</html>
