<% http_header("style/form.css", "/funcs.js") %>
<% nohelp_header("RST_statistic.htm", "show_statistic") %>

<script>
<% dsl_statistic() %>
var show_statis=<% show_statistic() %> ;
var timereset="<% cfg_sed_xss("timereset") %>";
var ad_router_flag="<% get_ad_router_flag() %>";
var tri_router_flag="<% get_tri_router_flag() %>";
var sfp_router_flag="<% get_sfp_router_flag() %>";
var wan_preference="<% cfg_get("wan_preference") %>";
var clock = 0;
if (timereset == "")
	timereset="5";
<% web_flag() %>
var enable_bridge_flag="<% cfg_get("bridge_mode") %>";
<% bridge_link_rate() %>
lan_ports_num = parseInt(lan_ports_num);
var wan_agg_port = parent.wan_agg_port;
var hardware_version = "<% cat_file("/hardware_version") %>";
if(isNaN(lan_ports_num))
	lan_ports_num = 4;

function loadvalue(){

	if(getTop(window).dsl_enable_flag == 1)
	
		document.getElementById("dsl_status").style.display="";
	else
		document.getElementById("dsl_status").style.display="none";
	
	show_status(show_statis);
	
	if(timereset!="0")
	{
	//load slow about 2sec,so minus 2sec to make load time right
		setTimeout("ajaxCheckStatus()", parseInt(timereset)*1000-2000);
	}
}

function byId(id) {
	return document.getElementById(id);
}

function show_status(show_statis){
	var cf = document.forms[0];

	if(have_eth5g_flag !== 1) {
		byId("eth5g-tr").style.display= "none";
	}
	else {
		with(show_statis) {
			if(use_orbi_style_flag == "1" && wan_preference === "2")
				byId("eth5g_port").innerHTML = "5G Ethernet(WAN)";
			byId("eth5g_status").innerHTML = eth5g_status === "Link down"? "$link_down": eth5g_status;
			byId("eth5g_txpkts").innerHTML = eth5g_txpkts;
			byId("eth5g_rxpkts").innerHTML = eth5g_rxpkts;
			byId("eth5g_collisions").innerHTML = eth5g_collisions;
			byId("eth5g_txbs").innerHTML = eth5g_txbs;
			byId("eth5g_rxbs").innerHTML = eth5g_rxbs;
			byId("eth5g_time").innerHTML = eth5g_status === "Link down"? "00:00:00": change_sec_to_time(eth5g_systime);
		}
	}

//		if(timereset!="0"){
			var uptime=show_statis.sys_uptime;
			var new_time=change_sec_to_time(uptime);
			document.getElementById("sys_time_1").innerHTML=new_time;
			if(an_router_flag == 0){
				document.getElementById("an_info").style.display= "none";
				}
			else
			{
				document.getElementById("an_info").style.display= "";
				if (show_statis.an_status != "Link down"){
					document.getElementById("an_status_1").innerHTML=show_statis.an_status;
	
				}
				else {
				
					document.getElementById("an_status_1").innerHTML="$link_down";

					}
				document.getElementById("an_txpkts_1").innerHTML=show_statis.an_txpkts;
				document.getElementById("an_rxpkts_1").innerHTML=show_statis.an_rxpkts;
				document.getElementById("an_collisions_1").innerHTML=show_statis.an_collisions;
				document.getElementById("an_txbs_1").innerHTML=show_statis.an_txbs;
				document.getElementById("an_rxbs_1").innerHTML=show_statis.an_rxbs;
				if (show_statis.an_status != "Link down")
				{
					var uptime=show_statis.an_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_0").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_0").innerHTML="00:00:00";	
			}
			if(tri_router_flag == 0){
				document.getElementById("tri_info").style.display= "none";
			}
			else
			{
				document.getElementById("tri_info").style.display= "";
				if (show_statis.tri_status != "Link down"){
					document.getElementById("tri_status_1").innerHTML=show_statis.tri_status;

				}
				else {

					document.getElementById("tri_status_1").innerHTML="$link_down";

				}
				document.getElementById("tri_txpkts_1").innerHTML=show_statis.tri_txpkts;
				document.getElementById("tri_rxpkts_1").innerHTML=show_statis.tri_rxpkts;
				document.getElementById("tri_collisions_1").innerHTML=show_statis.tri_collisions;
				document.getElementById("tri_txbs_1").innerHTML=show_statis.tri_txbs;
				document.getElementById("tri_rxbs_1").innerHTML=show_statis.tri_rxbs;
				if (show_statis.tri_status != "Link down")
				{
					var uptime=show_statis.tri_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_13").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_13").innerHTML="00:00:00";
			}
			if((support_wan_preference == 1|| use_orbi_style_flag == "1") && (wan_preference === "1"|| wan_preference === "2"))
				document.getElementById("wan-tr").style.display = "none";
			//WAN aggregation status
			if(use_orbi_style_flag == "1" && wan_preference === "1")
			{
				document.getElementById("wan_aggregation").style.display = "";
				if (show_statis.bond3_status != "INACTIVE")
					document.getElementById("aggre_status_1").innerHTML=translate_status(show_statis.bond3_status);
				else
					document.getElementById("aggre_status_1").innerHTML="$link_down";
				document.getElementById("aggre_txpkts_1").innerHTML=show_statis.bond3_txpkts;
				document.getElementById("aggre_rxpkts_1").innerHTML=show_statis.bond3_rxpkts;
				document.getElementById("aggre_collisions_1").innerHTML=show_statis.bond3_collisions;
				document.getElementById("aggre_txbs_1").innerHTML=show_statis.bond3_txbs;
				document.getElementById("aggre_rxbs_1").innerHTML=show_statis.bond3_rxbs;
				var hid_lan_id="lan"+wan_agg_port+"_info";
				console.log("hid_lan_id:"+hid_lan_id);
				document.getElementById(hid_lan_id).style.display="none";
				if (show_statis.bond3_status != "INACTIVE")
				{
					var uptime=show_statis.bond3_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_12").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_12").innerHTML="00:00:00";
			}
			else
				document.getElementById("wan_aggregation").style.display = "none";
			//sfp
                        if(sfp_router_flag == 0){
                                document.getElementById("sfp_info").style.display= "none";
                                }
                        else
                        {
                                document.getElementById("sfp_info").style.display= "";
                                if (show_statis.sfp_status != "Link down"){
                                        document.getElementById("sfp_status_1").innerHTML=translate_status(show_statis.sfp_status);

                                }
                                else {

                                        document.getElementById("sfp_status_1").innerHTML="$link_down";

                                        }
                                document.getElementById("sfp_txpkts_1").innerHTML=show_statis.sfp_txpkts;
                                document.getElementById("sfp_rxpkts_1").innerHTML=show_statis.sfp_rxpkts;
                                document.getElementById("sfp_collisions_1").innerHTML=show_statis.sfp_collisions;
                                document.getElementById("sfp_txbs_1").innerHTML=show_statis.sfp_txbs;
                                document.getElementById("sfp_rxbs_1").innerHTML=show_statis.sfp_rxbs;
                                if (show_statis.sfp_status != "Link down")
                                {
                                        var uptime=show_statis.sfp_systime;
                                        var new_time=change_sec_to_time(uptime);
                                        document.getElementById("new_time_7").innerHTML=new_time;
                                }
                                else
                                        document.getElementById("new_time_7").innerHTML="00:00:00";
                        }
			//ad
                        if(ad_router_flag == 0){
                                document.getElementById("ad_info").style.display= "none";
                                }
                        else
                        {
                                document.getElementById("ad_info").style.display= "";
                                if (show_statis.an_status != "Link down"){
                                        document.getElementById("ad_status_1").innerHTML=show_statis.ad_status;

                                }
                                else {
                                        document.getElementById("ad_status_1").innerHTML="$link_down";

                                        }
                                document.getElementById("ad_txpkts_1").innerHTML=show_statis.ad_txpkts;
                                document.getElementById("ad_rxpkts_1").innerHTML=show_statis.ad_rxpkts;
                                document.getElementById("ad_collisions_1").innerHTML=show_statis.ad_collisions;
                                document.getElementById("ad_txbs_1").innerHTML=show_statis.ad_txbs;
                                document.getElementById("ad_rxbs_1").innerHTML=show_statis.ad_rxbs;
                                if (show_statis.ad_status != "Link down")
                                {
                                        var uptime=show_statis.ad_systime;
                                        var new_time=change_sec_to_time(uptime);
                                        document.getElementById("new_time_8").innerHTML=new_time;
                                }
                                else
                                        document.getElementById("new_time_8").innerHTML="00:00:00";
                        }
			if (show_statis.wan_status != "Link down"){
					document.getElementById("wan_status_1").innerHTML=translate_status(show_statis.wan_status);
				}
				else
					document.getElementById("wan_status_1").innerHTML="$link_down";
				document.getElementById("wan_txpkts_1").innerHTML=show_statis.wan_txpkts;
				document.getElementById("wan_rxpkts_1").innerHTML=show_statis.wan_rxpkts;
				document.getElementById("wan_collisions_1").innerHTML=show_statis.wan_collisions;
				document.getElementById("wan_txbs_1").innerHTML=show_statis.wan_txbs;
				document.getElementById("wan_rxbs_1").innerHTML=show_statis.wan_rxbs;
				if (show_statis.wan_status != "Link down")
				{
					var uptime=show_statis.wan_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_3").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_3").innerHTML="00:00:00";
				//wan preference lan
				if(support_wan_preference == 1 && wan_preference === "1" || (use_orbi_style_flag == 1 && wan_preference === "2")){
					document.getElementById("lan0_info").style.display="";
				if(use_orbi_style_flag == 1 && wan_preference === "2"){
					if (show_statis.lan_status4 != "Link down")
						document.getElementById("lan_status0_0").innerHTML=translate_status(show_statis.lan_status4);
					else
						document.getElementById("lan_status0_0").innerHTML="$link_down";
				}else{
				if (show_statis.wan_status != "Link down")
					document.getElementById("lan_status0_0").innerHTML=translate_status(show_statis.wan_status);
				else
					document.getElementById("lan_status0_0").innerHTML="$link_down";
				}
				document.getElementById("lan_txpkts_0").innerHTML=show_statis.lan_txpkts;
				document.getElementById("lan_rxpkts_0").innerHTML=show_statis.lan_rxpkts;
				document.getElementById("lan_collisions_0").innerHTML=show_statis.lan_collisions;
				document.getElementById("lan_txbs_0").innerHTML=show_statis.lan_txbs;
				document.getElementById("lan_rxbs_0").innerHTML=show_statis.lan_rxbs;
				if(use_orbi_style_flag == 1 && wan_preference === "2"){
					if (show_statis.lan_status4 != "Link down")
					{
						var uptime=show_statis.lan4_systime;
						var new_time=change_sec_to_time(uptime);
						document.getElementById("new_time_11").innerHTML=new_time;
					}
					else
						document.getElementById("new_time_11").innerHTML="00:00:00";
				}else{
				if (show_statis.wan_status != "Link down")
				{
					var uptime=show_statis.wan_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_11").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_11").innerHTML="00:00:00";
				}
				}
				//lan0	
				if (show_statis.lan_status0 != "Link down")
					document.getElementById("lan_status0_1").innerHTML=translate_status(show_statis.lan_status0);
				else
					document.getElementById("lan_status0_1").innerHTML="$link_down";
				if(!(use_orbi_style_flag == 1 && wan_preference === "2")){
				document.getElementById("lan_txpkts_1").innerHTML=show_statis.lan_txpkts;
				document.getElementById("lan_rxpkts_1").innerHTML=show_statis.lan_rxpkts;
				document.getElementById("lan_collisions_1").innerHTML=show_statis.lan_collisions;
				document.getElementById("lan_txbs_1").innerHTML=show_statis.lan_txbs;
				document.getElementById("lan_rxbs_1").innerHTML=show_statis.lan_rxbs;
				if(support_wan_preference == 1 && wan_preference === "1"){
					document.getElementById("lan_td1").style.display="none";
					document.getElementById("lan_td2").style.display="none";
					document.getElementById("lan_td3").style.display="none";
					document.getElementById("lan_td4").style.display="none";
					document.getElementById("lan_td5").style.display="none";
				}
				}
				if (show_statis.lan_status0 != "Link down")
				{
					var uptime=show_statis.lan0_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_4").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_4").innerHTML="00:00:00";
				//lan1
				if (show_statis.lan_status1 != "Link down"){
					document.getElementById("lan_status1_1").innerHTML=translate_status(show_statis.lan_status1);
				}
				else
					document.getElementById("lan_status1_1").innerHTML="$link_down";
				if (show_statis.lan_status1 != "Link down")
				{
					var uptime=show_statis.lan1_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_5").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_5").innerHTML="00:00:00";
				//lan2
				if (show_statis.lan_status2 != "Link down"){
					document.getElementById("lan_status2_1").innerHTML=translate_status(show_statis.lan_status2);
				}
				else
					document.getElementById("lan_status2_1").innerHTML="$link_down";
				if (show_statis.lan_status2 != "Link down")
				{
					var uptime=show_statis.lan2_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_6").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_6").innerHTML="00:00:00";
				//lan3
				if (lan_ports_num > 3 && show_statis.lan_status3 != "Link down"){
					document.getElementById("lan_status3_1").innerHTML=translate_status(show_statis.lan_status3);
				}
				else
					document.getElementById("lan_status3_1").innerHTML="$link_down";
				if (lan_ports_num > 3 && show_statis.lan_status3 != "Link down")
				{
					var uptime=show_statis.lan3_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_2").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_2").innerHTML="00:00:00";
                                //lan4
                                if (lan_ports_num > 4 && show_statis.lan_status4 != "Link down"){
                                        document.getElementById("lan_status4_1").innerHTML=translate_status(show_statis.lan_status4);
                                }
                                else
                                        document.getElementById("lan_status4_1").innerHTML="$link_down";
                                if (lan_ports_num > 4 && show_statis.lan_status4 != "Link down")
                                {
                                        var uptime=show_statis.lan4_systime;
                                        var new_time=change_sec_to_time(uptime);
                                        document.getElementById("new_time_9").innerHTML=new_time;
                                }
                                else
                                        document.getElementById("new_time_9").innerHTML="00:00:00";
                                //lan5
                                if (lan_ports_num > 5 && show_statis.lan_status5 != "Link down"){
                                        document.getElementById("lan_status5_1").innerHTML=translate_status(show_statis.lan_status5);
                                }
                                else
                                        document.getElementById("lan_status5_1").innerHTML="$link_down";
                                if (lan_ports_num > 5 && show_statis.lan_status5 != "Link down")
                                {
                                        var uptime=show_statis.lan5_systime;
                                        var new_time=change_sec_to_time(uptime);
                                        document.getElementById("new_time_10").innerHTML=new_time;
                                }
                                else
                                        document.getElementById("new_time_10").innerHTML="00:00:00";

				//wlan_info
				if(typeof(have_wifi_flag) != "undefined" && have_wifi_flag == 0)
					document.getElementById("wlan_info").style.display = "none";
				if (show_statis.bgn_status != "Link down"){
					if(enable_bridge_flag == "1")
						document.getElementById("bgn_status_1").innerHTML=link_rate+" Mbps";
					else
						document.getElementById("bgn_status_1").innerHTML=show_statis.bgn_status;
				}
				else
					document.getElementById("bgn_status_1").innerHTML="$link_down";
				document.getElementById("bgn_txpkts_1").innerHTML=show_statis.bgn_txpkts;
				document.getElementById("bgn_rxpkts_1").innerHTML=show_statis.bgn_rxpkts;
				document.getElementById("bgn_collisions_1").innerHTML=show_statis.bgn_collisions;
				document.getElementById("bgn_txbs_1").innerHTML=show_statis.bgn_txbs;
				document.getElementById("bgn_rxbs_1").innerHTML=show_statis.bgn_rxbs;
				if (show_statis.bgn_status != "Link down")
				{
					var uptime=show_statis.bgn_systime;
					var new_time=change_sec_to_time(uptime);
					document.getElementById("new_time_1").innerHTML=new_time;
				}
				else
					document.getElementById("new_time_1").innerHTML="00:00:00";


		document.getElementById("set_interval").disabled = false;
//}
}
function ajaxCheckStatus()
{

	var file="/statistic_data.txt";
	var xmlHttp = createXMLHttpRequest();
	var result;
	xmlHttp.onreadystatechange=function()
	{
		var cf=document.forms[0];
		if(xmlHttp.readyState==4 && xmlHttp.status==200)
		{
			result=JSON.parse(xmlHttp.responseText);
			show_status(result);
			
		}
	}
	xmlHttp.open("GET", file, true);
	xmlHttp.send();
	setTimeout("ajaxCheckStatus()", parseInt(timereset)*1000);

}

function translate_status(stat)
{
	if(stat.indexOf("Full")>0)
		stat=stat.replace("Full", "$full");
	else if(stat.indexOf("Half")>0)
		stat=stat.replace("Half", "$half");
	return stat;
		
}
</script>
<TABLE class="tables1 table2" name="statistic_table" id="statistic_table" cellspacing=5 cellPadding=0 width=100% border=0>
<TR class='el-hide'><TD colspan=2><img src="liteblue.gif" width=100% height=12></TD></TR>
<TR>
	<TD nowrap><B>$statistics_sysuptime</B>&nbsp;<span id="sys_time_1">
<script>
var uptime=show_statis.sys_uptime;
var new_time=change_sec_to_time(uptime);
document.write(new_time);
</script></span>
	</TD>
</TR>
<TR>
	<TD nowrap>
	<TABLE border=1 cellpadding=2 cellspacing=0 width=100%>
	<TR> 
	<TD nowrap align=center><span class="thead">$block_ser_service_port</span></TD>
	<TD nowrap align=center><span class="thead">$stalist_Status</span></TD>
	<TD nowrap align=center><span class="thead">$statistics_txpkts</span></TD>
	<TD nowrap align=center><span class="thead">$statistics_rxpkts</span></TD>
	<TD nowrap align=center><span class="thead">$statistics_coll</span></TD>
	<TD nowrap align=center><span class="thead">$statistics_tx</span></TD>
	<TD nowrap align=center><span class="thead">$statistics_rx</span></TD>
	<TD nowrap align=center><span class="thead">$statistics_up</span></TD>
	</TR>

	<TR id="eth5g-tr" style="display:table-row;">
		<TD nowrap align=center><span class="thead" id="eth5g_port">5G Ethernet</span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_status"></span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_txpkts"></span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_rxpkts"></span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_collisions"></span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_txbs"></span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_rxbs"></span></TD>
		<TD nowrap align=center><span class="ttext" id="eth5g_time"></span></TD>
	</TR>

	<TR id="wan-tr" style="display:table-row;">
	<TD nowrap align=center><span class="thead">$statistics_wan</span></TD>
	<TD nowrap align=center><span class="ttext" id="wan_status_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="wan_txpkts_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="wan_rxpkts_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="wan_collisions_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="wan_txbs_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="wan_rxbs_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="new_time_3">
	
	</span></TD>
	</TR>
	<TR id=sfp_info>
	<TD nowrap align=center><span class="thead">SFP+<script>if(wan_preference == 1) document.write(" (WAN)");</script></span></TD>
	<TD nowrap align=center><span class="ttext" id="sfp_status_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="sfp_txpkts_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="sfp_rxpkts_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="sfp_collisions_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="sfp_txbs_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="sfp_rxbs_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="new_time_7">
	</span></TD>
        </TR>	
	<TR id=wan_aggregation>
	<TD nowrap align=center><span class="thead">$wan_aggregation</span></TD>
	<TD nowrap align=center><span class="ttext" id="aggre_status_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="aggre_txpkts_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="aggre_rxpkts_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="aggre_collisions_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="aggre_txbs_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="aggre_rxbs_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="new_time_12">
	</span></TD>
	</TR>
	<TR id=lan0_info style="display:none">
	<TD nowrap align=center><span class="thead" >$statistics_lan 0</span></TD>
	<TD nowrap align=center><span class="ttext" id="lan_status0_0"></span></TD>
	<TD nowrap align=center rowspan=7><span class="ttext" id="lan_txpkts_0"></span></TD>
	<TD nowrap align=center rowspan=7><span class="ttext" id="lan_rxpkts_0"></span></TD>
	<TD nowrap align=center rowspan=7><span class="ttext" id="lan_collisions_0"></span></TD>
	<TD nowrap align=center rowspan=7><span class="ttext" id="lan_txbs_0"></span></TD>
	<TD nowrap align=center rowspan=7><span class="ttext"id="lan_rxbs_0"></span></TD>
	<TD nowrap align=center><span class="ttext" id="new_time_11">

	</span></TD>
	</TR>
	<TR id=lan1_info>
	<TD nowrap align=center><span class="thead" id="statistics_lan_1">$statistics_lan 1</span></TD>
	<TD nowrap align=center><span class="ttext" id="lan_status0_1"></span></TD>
	<script>
	if(!(use_orbi_style_flag == 1 && (wan_preference === "2"|| wan_preference === "1")) || wan_agg_port == 4){
	document.write('<TD nowrap align=center rowspan=6 id="lan_td1"><span class="ttext" id="lan_txpkts_1"></span></TD>'
	+'<TD nowrap align=center rowspan=6 id="lan_td2"><span class="ttext" id="lan_rxpkts_1"></span></TD>'
	+'<TD nowrap align=center rowspan=6 id="lan_td3"><span class="ttext" id="lan_collisions_1"></span></TD>'
	+'<TD nowrap align=center rowspan=6 id="lan_td4"><span class="ttext" id="lan_txbs_1"></span></TD>'
	+'<TD nowrap align=center rowspan=6 id="lan_td5"><span class="ttext"id="lan_rxbs_1"></span></TD>');
	}
	</script>
	<TD nowrap align=center><span class="ttext" id="new_time_4">

	</span></TD>
	</TR>
	<TR id=lan2_info>
	<TD nowrap align=center><span class="thead">$statistics_lan 2</span></TD>
	<TD nowrap align=center><span class="ttext" id="lan_status1_1"></span></TD>
	<script>
        if(use_orbi_style_flag == 1 && wan_preference === "1" && wan_agg_port != 4){
        document.write('<TD nowrap align=center rowspan=3 id="lan_td1"><span class="ttext" id="lan_txpkts_1"></span></TD>'
        +'<TD nowrap align=center rowspan=3 id="lan_td2"><span class="ttext" id="lan_rxpkts_1"></span></TD>'
        +'<TD nowrap align=center rowspan=3 id="lan_td3"><span class="ttext" id="lan_collisions_1"></span></TD>'
        +'<TD nowrap align=center rowspan=3 id="lan_td4"><span class="ttext" id="lan_txbs_1"></span></TD>'
        +'<TD nowrap align=center rowspan=3 id="lan_td5"><span class="ttext"id="lan_rxbs_1"></span></TD>');
        }
        </script>
	<TD nowrap align=center><span class="ttext" id="new_time_5">

	</span></TD>
	</TR>
	<TR id=lan3_info>
	<TD nowrap align=center><span class="thead">$statistics_lan 3</span></TD>
	<TD nowrap align=center><span class="ttext" id="lan_status2_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="new_time_6">
		
	</span></TD>
	</TR>
	<TR id=lan4_info>
	<TD nowrap align=center><span class="thead">$statistics_lan 4</span></TD>
	<TD nowrap align=center><span class="ttext" id="lan_status3_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="new_time_2">

	</span></TD>
	</TR>
	<TR id=lan5_info>
        <TD nowrap align=center><span class="thead">$statistics_lan 5</span></TD>
        <TD nowrap align=center><span class="ttext" id="lan_status4_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="new_time_9">

        </span></TD>
	</TR>
        <TR id=lan6_info>
        <TD nowrap align=center><span class="thead">$statistics_lan 6</span></TD>
        <TD nowrap align=center><span class="ttext" id="lan_status5_1"></span></TD>
        <TD nowrap align=center><span class="ttext" id="new_time_10">

        </span></TD>
        </TR>
	<script>
	for(var i=lan_ports_num+1; i<7; i++) {
		document.getElementById("lan" + i +"_info").setAttribute("style", "display:none;");
	}
	var cols = document.getElementById("lan1_info").children;
	cols = Array.prototype.slice.call(cols);
	cols = cols.slice(2, -1);
	cols.forEach(function(item) {
	if(use_orbi_style_flag == "1" && wan_preference === "1")
	item.setAttribute('rowspan', lan_ports_num-1)
	else if(use_orbi_style_flag == "1" && wan_preference === "2")
	{
		var cols0 = document.getElementById("lan0_info").children;
		Array.prototype.slice.call(cols0).slice(2, -1).forEach(function(item0) {
			item0.setAttribute('rowspan', lan_ports_num+1)});
	}
	else
	item.setAttribute('rowspan', lan_ports_num)
	});
	</script>
	<TR id=wlan_info>
	<TD nowrap align=center><span class="thead">2.4G $statistics_wlan <script>if(an_router_flag == 1) document.write("$w2_suffix");</script></span></TD>
	<TD nowrap align=center><span class="ttext" id="bgn_status_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="bgn_txpkts_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="bgn_rxpkts_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="bgn_collisions_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="bgn_txbs_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="bgn_rxbs_1"></span></TD>
	<TD nowrap align=center><span class="ttext" id="new_time_1">

	</span></TD>
	</TR>
	
		<TR id=an_info>
	
	<TD nowrap align=center><span class="thead"><script>
	if(ac_router_flag == 1)
		document.write('5G $statistics_wlan $w5_suffix');
	else
		document.write('5G $statistics_wlan $w5_suffix');
		</script>
	</span></td>
	<TD nowrap align=center ><span class="ttext" id="an_status_1"></span></TD>
    <TD nowrap align=center ><span class="ttext" id="an_txpkts_1"></span></TD>
    <TD nowrap align=center ><span class="ttext" id="an_rxpkts_1"></span></TD>
    <TD nowrap align=center ><span class="ttext" id="an_collisions_1"></span></TD>
    <TD nowrap align=center ><span class="ttext" id="an_txbs_1"></span></TD>
    <TD nowrap align=center ><span class="ttext" id="an_rxbs_1"></span></TD>
    <TD nowrap align=center ><span class="ttext" id="new_time_0">
			<script>
			if (show_statis.an_status != "Link down")
        {
                var uptime=show_statis.an_systime;
                var new_time=change_sec_to_time(uptime);
                document.write(new_time);
        }
        else
                document.write("00:00:00");
			</script></span></TD>
	
	</TR>
	<TR id="tri_info">
		<TD nowrap align=center>
			<span class="thead">5G $statistics_wlan 2 $w5_suffix</span>
		</TD>
		<TD nowrap align=center ><span class="ttext" id="tri_status_1"></span></TD>
		<TD nowrap align=center ><span class="ttext" id="tri_txpkts_1"></span></TD>
		<TD nowrap align=center ><span class="ttext" id="tri_rxpkts_1"></span></TD>
		<TD nowrap align=center ><span class="ttext" id="tri_collisions_1"></span></TD>
		<TD nowrap align=center ><span class="ttext" id="tri_txbs_1"></span></TD>
		<TD nowrap align=center ><span class="ttext" id="tri_rxbs_1"></span></TD>
		<TD nowrap align=center ><span class="ttext" id="new_time_13">
		<script>
			if (show_statis.tri_status != "Link down")
			{
				var uptime=show_statis.tri_systime;
				var new_time=change_sec_to_time(uptime);
				document.write(new_time);
			}
			else
				document.write("00:00:00");
		</script></span></TD>
	</TR>
	<TR id=ad_info>
        <TD nowrap align=center><span class="thead">$statistics_wlan ad</span></td>
        <TD nowrap align=center ><span class="ttext" id="ad_status_1"></span></TD>
	<TD nowrap align=center ><span class="ttext" id="ad_txpkts_1"></span></TD>
	<TD nowrap align=center ><span class="ttext" id="ad_rxpkts_1"></span></TD>
	<TD nowrap align=center ><span class="ttext" id="ad_collisions_1"></span></TD>
	<TD nowrap align=center ><span class="ttext" id="ad_txbs_1"></span></TD>
	<TD nowrap align=center ><span class="ttext" id="ad_rxbs_1"></span></TD>
	<TD nowrap align=center ><span class="ttext" id="new_time_8">
	<script>
        if (show_statis.ad_status != "Link down")
        {
                var uptime=show_statis.ad_systime;
                var new_time=change_sec_to_time(uptime);
                document.write(new_time);
        }
        else
                document.write("00:00:00");
        </script></span></TD>
        </TR>

	</TABLE>
	</TD>
</TR>
<tr><td>
<br>

	<TABLE id="dsl_status" style="display:none" border=1 cellpadding=2 cellspacing=0 width=100%>
	<tr>
	<td nowrap align="center"><span class="thead" >$dsl_adsl_link</span></td>
	<td nowrap align="center"><span class="thead" >$dsl_downstream</span></td>
	<td nowrap align="center"><span class="thead" >$dsl_upstream</span></td>
	</tr>
	<tr>
	<td nowrap align="center"><span class="thead">$dsl_conn_speed</span></td>
	<td nowrap align="center"><span class="ttext" id="conn_down"><script>document.write(conn_down)</script></span></td>
	<td nowrap align="center"><span class="ttext" id="conn_up"><script>document.write(conn_up)</script></span></td>
	</tr>
	<tr>
	<td nowrap align="center"><span class="thead">$dsl_line_atten</span></td>
	<td nowrap align="center"><span class="ttext" id="line_down"><script>document.write(line_down)</script></span></td>
	<td nowrap align="center"><span class="ttext" id="line_up"></span></td>
	</tr>
	<tr>
	<td nowrap align="center"><span class="thead" >$dsl_noise_margin</span></td>
	<td nowrap align="center"><span class="ttext" id="noise_down"></span></td>
	<td nowrap align="center"><span class="ttext" id="noise_up"></span></td>
	</tr>
	</table></td></tr></TABLE>



<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
	<TD nowrap><B>$statistics_poll :</B>
<script>
if (timereset != "0")
	document.write("<input TYPE=TEXT NAME=timeset id=\"timeset\" SIZE=5 MAXLENGTH=5 VALUE="+timereset+" onKeyPress=\"return getkey('num',event)\"> $traffic_secs");
else
	document.write("<input TYPE=TEXT NAME=timeset id=\"timeset\" SIZE=5 MAXLENGTH=5 VALUE='' onKeyPress=\"return getkey('num', event)\"> $traffic_secs");
</script>
	</TD>
	<TD nowrap>
	<script>
	var master="<% cfg_get("http_loginname") %>";
	if( master == "admin" )
		document.write('<input class="common_bt" TYPE="button" NAME="Set Interval" id="set_interval" VALUE="$statistics_set" WIDTH="80" onClick="reset_time(this);">&nbsp;&nbsp;<input class="common_bt" TYPE="button" NAME="Stop" id="stop" VALUE="$statistics_stop" WIDTH="80" onClick="stop_time(this);">');
	else
		document.write('<input class="common1_bt" TYPE="button" NAME="Set Interval" id="set_interval" VALUE="$statistics_set" WIDTH="80" disabled>&nbsp;&nbsp;<input class="common1_bt" TYPE="button" NAME="Stop" id="stop" VALUE="$statistics_stop" WIDTH="80" disabled>');
		
	</script>
	</TD>
</TR>
</TABLE>
<script>
function reset_time(th)
{
	cf=document.forms[0];
	if( cf.timeset.value == "")
	{
		cf.timeset.value = "5";
	}
	var timeset=cf.timeset.value;
	if(!(timeset > 4 && timeset < 86401))
	{
		alert("$rang_pool");
		return false;
	}
	th.disabled = true;
	cf.submit();
}

function stop_time(th)
{
	cf=document.forms[0];
	cf.timeset.value="0";
	th.disabled = true;

	cf.submit();
}
</script>
</FORM>
</BODY>
</HTML>
