<% plex_cpu_scan() %>

<HTML>
<HEAD>
<META http-equiv="Refresh" content="3; url=hidden_cpu_status.htm">
<META http-equiv="content-type" content='text/html; charset=UTF-8'>
<LINK rel="stylesheet" type="text/css" href="style/form.css">
</HEAD>
<% change_bg() %>
<BODY bgcolor=#ffffff>
<div id="pls_wait_div">
<div  align="center"><BR><BR><TR><TD align="center"><B>$wizard_pls_wait</B></TD></TR><BR><BR></div>
<div align="center"><img src="image/wait30.gif" alt="waiting" /></div>
</div>
</BODY>
</HTML>

